In [97]:
import pyodbc
import pandas as pd

pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [98]:
conn = pyodbc.connect(
    "Driver={SQL Server Native Client 11.0};"
    "Server=DESKTOP-DMHEOJV;"
    "Database=Caltrans_Research;"
    "Trusted_Connection=yes;"
)

cursor = conn.cursor()

In [99]:
df = pd.read_csv('data.csv')
df

   Row  Col   Latitude   Longitude  Concentration
0    A    3  33.965913 -117.348340    4642.000000
1    A   10  33.965898 -117.348240    2737.500000
2    A   20  33.965935 -117.348186    1759.000000
3    A   50  33.965893 -117.347847     594.000000
4    A  100  33.965906 -117.347289     188.500000
5    A  150  33.965917 -117.346767     110.000000
6    A  200  33.965896 -117.346220      86.000000
7    B    3  33.963506 -117.348342    4058.000000
8    B   10  33.963508 -117.348276    1433.333333
9    B   20  33.963538 -117.348185    1568.000000
10   B   50  33.963517 -117.347873     608.000000
11   B  100  33.963519 -117.347329     163.000000
12   B  150  33.963506 -117.346774     123.500000
13   B  200  33.963494 -117.346244      79.000000
14   C    3  33.962971 -117.348329    3690.500000
15   C   10  33.962993 -117.348326    2562.500000
16   C   20  33.962944 -117.348170    1151.500000
17   C   50  33.962912 -117.347811     470.000000
18   C  100  33.962901 -117.347302     307.000000
19   C  150  33.962941 -117.346758     117.000000
20   C  200  33.962917 -117.346265      92.500000

In [100]:
df.columns

Index(['Row', 'Col', 'Latitude', 'Longitude', 'Concentration'], dtype='object')

In [101]:
cursor.execute("CREATE TABLE data (Row char(1), Col float, Latitude float, Longitude float, Concentration float)")

In [ ]:
for i in df.itertuples():
    cursor.execute('''
    INSERT INTO Caltrans_Research.dbo.data (Row, Col, Latitude, Longitude, Concentration) 
    VALUES(?, ?, ?, ?, ?)
    ''',
        i.Row,
        i.Col,
        i.Latitude,
        i.Longitude,
        i.Concentration
    )

conn.commit()